.footer-container {
  padding: 154px 60px 60px 60px;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 140px;
  position: relative;
}

.footer-container::after {
  content: url(./img/detalhe.svg);
  position: absolute;
  top: -70px;
  left: 50px;
}

.footer {
  background: #000000;
}

.footer-inicial {
  color: #cccccc;
  font-size: 1.5rem;
  line-height: 32px;
}

.footer-direitos {
  color: #8f8f8f;
  font-size: 1.125rem;
  line-height: 32px;
}

.footer-container li {
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: bold;
}

@media (max-width: 800px) {
  .footer-container::after {
    display: none;
  }
}

@media (max-width: 750px) {
  .footer-inicial {
    font-size: 1rem;
  }
  .footer-direitos {
    font-size: 1rem;
  }
  .footer-container li {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 80px 60px 60px 60px;
    gap: 80px;
  }
}
