.main {
  padding: 40px 60px;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 140px;
  align-items: center;
}

.main-principal {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-principal h1 {
  font-weight: bold;
  font-size: 4.5rem;
}
.main-principal p {
  color: #525252;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .main-principal h1 {
    font-size: 2.5rem;
  }
  .main-principal p {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  .main {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .main-principal h1 {
    font-size: 1.7rem;
  }
  .main-principal p {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .main img {
    display: none;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 40px 20px;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
